<html lang="en"></html>
{% extends "base.html" %}

{%block content%}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('messageBP.static', filename='messages.css')}}">
    </head>
    <body>
        <div class="message-list">
            <div class="user">BlakeyWakeyLakeyPakey</div>
            <div class="user">Peter</div>
            <div class="user">Andrew</div>
            <div class="user">Sarah</div>
            <div class="user">Maddison</div>
            <div class="user">Vanessa</div>
            <div class="user">Alex</div>
            <div class="user">Adrian</div>
            <div class="user">Blake</div>
            <div class="user">Peter</div>
            <div class="user">Andrew</div>
            <div class="user">Sarah</div>
            <div class="user">Maddison</div>
            <div class="user">Vanessa</div>
            <div class="user">Alex</div>
            <div class="user">Adrian</div>
            <div class="user">Blake</div>
            <div class="user">Peter</div>
            <div class="user">Andrew</div>
            <div class="user">Sarah</div>
            <div class="user">Maddison</div>
            <div class="user">Vanessa</div>
            <div class="user">Alex</div>
            <div class="user">Adrian</div>
            <div class="user">Blake</div>
            <div class="user">Peter</div>
            <div class="user">Andrew</div>
            <div class="user">Sarah</div>
            <div class="user">Maddison</div>
            <div class="user">Vanessa</div>
            <div class="user">Alex</div>
            <div class="user">Adrian</div>
            <div class="user">Blake</div>
            <div class="user">Peter</div>
            <div class="user">Andrew</div>
            <div class="user">Sarah</div>
            <div class="user">Maddison</div>
            <div class="user">Vanessa</div>
            <div class="user">Alex</div>
            <div class="user">Adrian</div>
        </div>
    </body>
{%endblock%}
</html>