html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(36, 36, 36);
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.message-list {
    width: 10%;
    overflow-y: scroll;
    background-color: rgb(50, 50, 50);
    height: 100%;
}

.user {
    color: rgb(199, 199, 199);
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px; /* 5 pixel padding is default but leaving here to change later */
    border: 1px solid transparent;
    transition: background-color 0.15s ease;
    transition: border 0.15 ease;
    direction: ltr;
}

.user:hover {
    background-color: #494949;
    border-color: #888888;
    cursor: pointer;
}