html, body {
    /* background-color: rgb(30, 30, 30); */
    background-image:
        linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)),
        url('mountains.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    margin: 0px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px;
    height: 100vh;
}

.center input, .center button {
    margin: 5px;
}

.lightFont {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20;
    color: rgb(255, 255, 255);
}

.button {
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition: background-color 0.15s ease;
}

.button:hover {
    background-color: rgb(195, 195, 195);
}